mrinimitable/public/js/lib/*
mrinimitable/public/js/mrinimitable/misc/tests/*
mrinimitable/public/js/mrinimitable/views/test_runner.js
mrinimitable/core/doctype/doctype/boilerplate/*
mrinimitable/core/doctype/report/boilerplate/*
mrinimitable/public/js/mrinimitable/class.js
mrinimitable/templates/includes/*
mrinimitable/www/website_script.js
